@import "../vars.styl"

body
  background-color body-color
  color Header-color
  font-family font-family
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-size 15px

h1, h2 {
  padding 0
  margin 0
}

h1 {
  font-size h1-size
  text-align center
  padding-top 40px
  padding-bottom 20px
}

h2 {
  font-size h2-size
}

h3 {
  font-size h3-size
}

hr {
  border-bottom 1px solid rgba(255,255,255,0.2)
  opacity: 0.2;
}