@import "../vars.styl"

.Hero {
  width: 100vw;
  height: 100vh;
  background-color: red;
  /* The image used */
  background-image: url("https://thumbs.dreamstime.com/b/autumn-oak-leaf-fantastic-beautiful-spray-bubbles-blue-background-magic-autumn-blue-background-yellow-oak-leaf-158238643.jpg");

  /* Set a specific height */
min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero h1, h2 {
  color white
  text-align center
  padding 0
  margin 0
}

.Hero h1 {
  font-size h1-size
  text-align center
  border-bottom 1px solid rgba(255,255,255,0.35)
  padding-bottom 20px
  margin-bottom 20px
}

.Hero h2 {
  font-size h2-size 
}

.Hero__Container {
  display flex
  flex-flow column nowrap
  justify-content: center
  max-width fit-content
  height 100%
  margin 0 auto

}