@import "../vars.styl"

.Profile {
  width: 100vw;
  height: 100vh;
  background-color: #583A65;
  text-align: center;
}

.Profile figure img {
  border-radius: 50%;
  border: 20px solid #5B2750;
  width: 300px;
}
