@import "../vars.styl"

.Academic
  margin auto
  width 60%

.Academic__item
  display grid
  grid-template-columns 1fr 2fr
  padding-top 20px

.Academic__institution, .Academic__degree
  font-weight bold
  font-size 18px