@import "../Vars.styl"

.Alert__container
  background-color white
  color black
  padding 10px
  border-radius 3px
  display flex
  justify-content space-between
  align-items center
  box-shadow 0px 2px 2px 2px rgba(0 0 0 0.03)
  font-family font-family
  width 300px
  height 100px
  box-sizing border-box
  & button
    margin-left 20px
    margin-bottom 50px
    border none
    background-color transparent
    cursor pointer
    color #FFFFFF
  & .Alert__icon
    margin-bottom 50px
  & span
    text-align center