@import "../Vars.styl"

.Contact
  display grid
  background-color semiDark
  grid-template-areas "svg"\
                      "form"
  & h1
    color baseColor

.Contact__deco
  grid-area svg
  background-color semiDark

.Contact__form
  padding 10px 0 100px 0
  background-color semiDark
  margin auto
  width 80%

.form
  grid-area form
  margin 0 auto
  text-align center
  padding 1.5em
  border-radius 10px
  width 50%

.form input, .form textarea
  width 100%
  padding 20px
  font-size 16px
  border none
  border-radius 5px
  box-sizing border-box
  margin-bottom 10px
  background-color dark
  color baseColor

.form input::placeholder, .form textarea::placeholder
  color baseColor

.form button
  background #93ca3f
  color baseColor
  padding 15px
  border-radius 2px
  border none
  width 100%
  display inline-block
  cursor pointer
  &:active
    background #91e80d
    border 1px solid #93ca3f
    transition all 0.5s
  &:hover
    background #91e80d
    border 1px solid #93ca3f
    transition all 0.5s

@media screen and (max-width 768px)
  .form
    width 70%

@media screen and (min-width 425px)
  .form
    width 90%