@import "../vars.styl"

.Experience
  margin auto
  width 60%

.Experience__item
  display grid
  grid-template-columns 1fr 2fr
  padding-top 20px

.Experience__company, .Experience__job-title
  font-weight bold
  font-size font-size