@import "../Vars.styl"

footer
  background-color dark
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  padding 70px 0 50px 0
  position relative

footer .footer__up svg
  background-color button2
  cursor pointer
  font-size 30pt
  height 50px
  margin 0 auto
  position absolute
  left 0
  right 0
  top -25px
  transition background 0.5s
  width 47px
  &:hover, &:focus
    background-color hoverButton2
    transform scale(1.1)

footer .Social__item 
  & svg
    font-size 20pt
    left 0
    line-height 40pt
    margin 0 10px
    right 0
    top -25px
    transition: background 0.5s
    background-color semiDark
    padding 15px
    cursor pointer
    &:hover
      background highlightColor2
      box-shadow 0 0 0 3px rgba(4, 94, 201, 0.1)
      transform scale(0.9)
      outline none
    &:focus
      background highlightColor2
      box-shadow 0 0 0 3px rgba(4, 94, 201, 0.1)
      transform scale(0.9)
      outline none

.social_media__container
  margin-bottom 20px

.footnote
  color baseColor
  font-size 10pt
  margin-top 35px
  opacity 0.6

.footnote--highlight
  color highlightColor1

.Social__icon
  color baseColor