
footer
  background-color #080F19
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  padding 70px 0 50px 0
  position relative

footer .footer__up svg
  background-color #e31b6d
  cursor pointer
  font-size 30pt
  height 50px
  margin 0 auto
  position absolute
  left 0
  right 0
  top -25px
  transition background 0.5s
  width 47px
  &:hover
    background-color #fb1f79

footer .Social__item svg
  font-size 20pt
  left 0
  line-height 40pt
  margin 0 auto
  right 0
  top -25px
  transition: background 0.5s
  margin-right 30px
  background-color #262F37
  padding 15px
  cursor pointer
  &:hover
    background #04c2c9
    box-shadow 0 0 0 3px rgba(4, 94, 201, 0.1)
    transform scale(0.9)

.social_media__container
  margin-bottom 20px

.footnote
  color #8f9aa7
  font-size 10pt
  margin-top 35px
  opacity 0.6

.footnote--highlight
  color red

.Social__icon
  color white