@import "../vars.styl"

.Hero
  width 100vw
  height 100vh
  position relative
  background-color dark
  /* Paralax effect */
  background-image hero-img
  min-height 500px
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover

.Hero__Container
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  display flex
  flex-flow column wrap
  justify-content center
  align-items center
  height 100%
  width 100%
  margin 0 auto
  font-size hero-size


.Hero__Name
  color baseColor
  display flex
  flex-flow row wrap

.Hero__Title
  color baseColor
  padding 20px 0 50px 0
  margin 0

.highlight
  color semiDark
  font-weight bold

.Hero button
  color baseColor
  background none
  font-size font-size
  border 2px solid baseColor
  border-radius 2px
  padding 15px
  width fit-content
  cursor pointer
  &:hover
    background highlightColor2
    border 1px solid highlightColor2
    transition all 0.5s

@media screen and (max-width 425px)
  .Hero__Container
    font-size hero-sizeXS

  .Hero button
    font-size heroButton-XS