@import "../vars.styl"


.Hero
  width: 100vw
  height: 100vh
  position relative
  background-color #080F19
  /* The image used */
  background-image: url('https://www.irancircuit.ir/en/wp-content/uploads/2019/05/template_products_hero_sample.jpg')
  /* background-image url('https://image.freepik.com/free-vector/grey-technology-background_1035-9343.jpg') */
  /* background-image url('https://i.imgur.com/a2FogOk.jpg') */
  /* background-image url('https://edicionespecuarias.com/wp-content/uploads/2018/05/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__F0008.png') */

  /* Set a specific height */
  min-height: 500px

  /* Create the parallax scrolling effect */
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.Hero .Hi
  font-size 50px
  color white


.Hero .Hero__h1, .Hero__h2
  color white
  text-align center
  padding 20px
  margin 0
  font-size 50px
  text-align center


.Hero__Container
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  display flex
  flex-flow column nowrap
  justify-content: center
  align-items: center
  max-width fit-content
  height 100%
  margin 0 auto

.highlight
  color #FFF

button
  background #93ca3f
  color white
  padding 15px
  border-radius 2px
  border none
  width 100px