@import "../vars.styl"

.Menu
    display flex
    align-items center
    justify-content space-around
    background-color #252934
    color white
    text-transform uppercase
    border-bottom 4px solid #93ca3f

.Menu__job-title
    font-size 25px
    font-weight bold
    margin-top 5px

.Menu-item
    margin-left 5px