@import "../vars.styl"

.portfolio
    margin auto
    width 80%

.portfolio__container
    display grid
    grid-template-columns repeat(3, minmax(100px, 293px))
    justify-content center
    grid-gap 28px
    margin 20px 15px
    padding 30px

.porfolio__item
    cursor pointer
    display block
    position relative

.porfolio__item-image
    margin 0
    & img
        width 100%
        vertical-align top

.porfolio__item-overlay
    background rgba(0,0,0, .4)
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    display none
    align-items center
    justify-content center
    color baseColor
    text-align center

.porfolio__item:hover .porfolio__item-overlay
    display flex

.portfolio__item-title, .porfolio__item-comments
    width 80px
    margin 5px
    font-weight bold
    text-align center
    display inline-block

