@import "../vars.styl"

.Skills
  margin auto
  width width-L 

.Skills__container
  padding-top 20px
  display grid
  grid-template-columns repeat(2, 1fr)

.Skills__item
  margin 8px
  &:hover
    background-color hoverColor
    border-radius 2px
    & .Stars
      background-color hoverColor
      font-size 20px

.Skills__info
  display grid
  grid-template-columns repeat(2, 1fr)

.Skills__name
  padding 5px

.Stars
  padding 5px
  --percent calc(var(--rating) / 5 * 100%)
  display inline-block
  font-size star-size
  font-family Times
  line-height 1
  &::before
    content '★★★★★'
    letter-spacing 3px
    background linear-gradient(90deg, starColor var(--percent), starBackground var(--percent))
    -webkit-background-clip text
    -webkit-text-fill-color transparent

.Stars:hover
  font-size 20px
  background-color hoverColor
  & .Skills__item
    background-color hoverColor

@media screen and (max-width 425px)
  .Skills__container
    display grid
    grid-template-columns 100%
  .Skills
    width width-XS
    text-align center
    font-size font-sizeS
