@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap')

box-color = #FFF
body-color = #F7F8FC//#FFF
title-color = #027DE1
button-color = #EF5059
h1-size = 60px
h2-size = 45px
h3-size = 30px

star-size = 15px
star-background = #DFE0E0
star-color = #fc0
hover-bgcolor = #F2F2F2
