@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');

font-family = 'Raleway', sans-serif

h1-size = 60px
h1-sizeXS = 35px
h2-size = 45px
h3-size = 30px
font-size = 18px
font-sizeXS = 15px
font-sizeS = 16px
hero-size = 50px
hero-sizeXS = 30px
heroButton-XS = 15px
starSize = 15px

dark = #080F19
semiDark = #252934
lightGray = #F2F2F2
highlightColor1 = #ff6c9f
highlightColor2 = #93ca3f
lightColor = #F7F8FC
baseColor = #FFF
hoverColor = #F2F2F2
starColor = #fc0
starBackground = #DFE0E0
button2 = #d70d54
hoverButton2= #fb1f79
borderAvatarColor = #f8f9fb

hero-img = url('https://i.imgur.com/gq3YqCO.jpg')

width-XS = 85%
width-M = 80%
width-L = 70%

html
  scroll-behavior smooth