@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:200,300,400,500,600,700&display=swap')

box-color = #FFF
body-color = #FFF//#F7F8FC
title-color = #027DE1
button-color = #EF5059
h1-size = 60px
h2-size = 45px
h3-size = 30px

star-size = 15px
star-background = #DFE0E0
star-color = #fc0
hover-bgcolor = #F2F2F2
font-family = 'Raleway', sans-serif
font-family2 = 'Oswald', sans-serif
